.dropdown {
  background-color: $white;
  border: 1px solid $lightgrey;
  font-family: 'TurretRoad', sans-serif;
  font-size: 20px;
  height: 40px;
  margin: 10px;
}

.option {
  background-color: $white;
}
