.header-title {

  &__main {
    font-size: 25px;
  }

  &__secondary {
    background-color: $lightgrey;
    font-size: 20px;
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }

  &--red {
    background-color: $red;
    color: $white;
  }
}
