.header-title {

  &__main {
    font-size: 25px;
  }

  &__secondary {
    background-color: $lightgrey;
    font-size: 20px;
  }

  &--blue {
    background-color: $blue;
    color: $white;
  }

  &--red {
    background-color: $red;
    color: $white;
  }

  &--tiny-text {
    font-family: 'TurretRoad', sans-serif;
    font-size: 14px;
    margin-left: 10px;
  }

  &__main-logo {
    font-family: 'Righteous', sans-serif;
  }
}
