.player-page {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border: 5px outset grey;
	border-radius: 10px;
}

.player-info {
	margin-left: 0px;
	margin-right: 0px;
}

.stat-block {
	padding: 10px;
	border-top: 3px inset grey;
	border-right: 3px inset grey;
}