.first-element,
.second-element,
.third-element,
.fourth-element,
.fifth-element,
.sixth-element,
.seventh-element,
.eigth-element,
.ninth-element,
.tenth-element,
.eleventh-element,
.twelfth-element,
.thirteenth-element {
  text-align: center;
}

.first-element {
  grid-column-start: 1;
}

.second-element {
  grid-column-start: 2;
}

.third-element {
  grid-column-start: 3;
}

.fourth-element {
  grid-column-start: 4;
}

.fifth-element {
  grid-column-start: 5;
}

.sixth-element {
  grid-column-start: 6;
}

.seventh-element {
  grid-column-start: 7;
}

.eigth-element {
  grid-column-start: 8;
}

.ninth-element {
  grid-column-start: 9;
}

.tenth-element {
  grid-column-start: 10;
}

.eleventh-element {
  grid-column-start: 11;
}

.twelfth-element {
  grid-column-start: 12;
}

.thirteenth-element {
  grid-column-start: 13;
}
