.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.side-container {
  grid-column-start: 1;
}

.main-container {
  grid-column-start: 2;
}

.header-section {
  text-align: center;
  width: 100%;
}
