.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.side-container {
  grid-column-start: 1;
}

.main-container {
  border: 1px solid $black;
  grid-column-start: 2;
}

.header-section {
  border: 1px solid $black;
  padding: 10px;
  text-align: center;
  width: 100%;
}
