.container {
  display: grid;
  grid-template-columns: 20% 80%;
}

.side-container {
  font-family: 'TurretRoad', sans-serif;
  grid-column-start: 1;
}

.main-container {
  border: 1px solid $black;
  grid-column-start: 2;
  padding: 10px;
}

.header-section {
  border: 1px solid $black;
  font-family: 'SquadaOne', sans-serif;
  font-size: 30px;
  padding: 10px;
  text-align: center;
}

.side-section {
  text-align: center;

  &--blue {
    border: 5px solid $blue;
  }

  &--red {
    border: 5px solid $red;
  }
}

.tri-section {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.quad-section {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.quint-section {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.octo-section {
  display: grid;
  grid-template-columns: 10% 20% 5% 5% 10% 20% 5% 25%;
  text-align: center;
}

.half-section {
  display: grid;
  grid-template-columns: 50% 50%;

  &__first {
    grid-column-start: 1;
  }

  &__second {
    grid-column-start: 2;
  }

  &__third {
    grid-column-start: 3;
  }

  &__fourth {
    grid-column-start: 4;
  }

  &__fifth {
    grid-column-start: 5;
  }
}

.first-element,
.second-element,
.third-element {
  text-align: center;
}

.first-element {
  grid-column-start: 1;
}

.second-element {
  grid-column-start: 2;
}

.third-element {
  grid-column-start: 3;
}

.fourth-element {
  grid-column-start: 4;
}

.fifth-element {
  grid-column-start: 5;
}

.sixth-element {
  grid-column-start: 6;
}

.seventh-element {
  grid-column-start: 7;
}

.eigth-element {
  grid-column-start: 8;
}

