.team-page {
	width: 90%;
	margin: 0 auto;
	border: 1px solid green;
	text-align: center;
}

.row-fix {
	width: 100%;
	margin: auto
}

.team-jumbo {
	border: 3px solid black;
	padding: 5px;
	margin-bottom: 1rem;
}

.info-box {
	border: 1px solid black;
}