@font-face {
  font-family: 'TurretRoad';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/TurretRoad/TurretRoad-Regular.eot');
  src: url('../../fonts/TurretRoad/TurretRoad-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/TurretRoad/TurretRoad-Regular.woff2') format('woff2'),
    url('../../fonts/TurretRoad/TurretRoad-Regular.woff') format('woff'),
    url('../../fonts/TurretRoad/TurretRoad-Regular.ttf') format('truetype'),
    url('../../fonts/TurretRoad/TurretRoad-Regular.svg#TurretRoad-Regular') format('svg');
}

@font-face {
  font-family: 'SquadaOne';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/SquadaOne/SquadaOne-Regular.eot');
  src: url('../../fonts/SquadaOne/SquadaOne-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/SquadaOne/SquadaOne-Regular.woff2') format('woff2'),
    url('../../fonts/SquadaOne/SquadaOne-Regular.woff') format('woff'),
    url('../../fonts/SquadaOne/SquadaOne-Regular.ttf') format('truetype'),
    url('../../fonts/SquadaOne/SquadaOne-Regular.svg#SquadaOne-Regular') format('svg');
}
